<div class="modal fade" id="switchModal" tabindex="-1">
    <div class="modal-dialog modal-large">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Управление коммутаторами</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <button class="btn btn-success mb-3" id="addSwitchBtn">Добавить коммутатор</button>
                <table class="table" id="switchesTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>IP-адрес</th>
                            <th>Имя</th>
                            <th>Бренд</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody id="switchesTableBody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="switchEditModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить/Редактировать коммутатор</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="switchForm">
                    <input type="hidden" id="switchIdEdit">
                    <div class="mb-3">
                        <label>IP-адрес</label>
                        <input type="text" class="form-control" id="switchIpInput" required>
                    </div>
                    <div class="mb-3">
                        <label>Имя</label>
                        <input type="text" class="form-control" id="switchHostnameInput">
                    </div>
                    <div class="mb-3">
                        <label>Бренд</label>
                        <input type="text" class="form-control" id="switchBrandInput" value="cisco_ios">
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
